[submodule "libft"]
	path = libft
	url = https://github.com/punchlemon/libft
	branch = main
[submodule "test_ft_printf"]
	path = test_ft_printf
	url = https://github.com/punchlemon/test_ft_printf
	branch = main
